In [44]:
import pandas as pd
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt
import numpy as np
import random
#from config import weather_api_key
#from config import g_key
#from citipy import citipy 
import scipy.stats as sp
import gmaps
import os

In [3]:
# Load in file
streaming_file = "MoviesOnStreamingPlatforms_updated.csv"

In [48]:
# Read and display the CSV with Pandas
streaming_file_df = pd.read_csv(streaming_file)
streaming_file_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [49]:
streaming_clean_df=streaming_file_df.dropna()

In [50]:
streaming_file_df.Genres.unique()

array(['Action,Adventure,Sci-Fi,Thriller', 'Action,Sci-Fi',
       'Action,Adventure,Sci-Fi', ..., 'Comedy,Family,Fantasy,Mystery',
       'Family,Drama,Western', 'Comedy,Family,Adventure,Fantasy,Sci-Fi'],
      dtype=object)

In [52]:
streaming_file_df.Genres.count()

16469

In [55]:
streaming_file_df.Genres.unique()

array(['Action,Adventure,Sci-Fi,Thriller', 'Action,Sci-Fi',
       'Action,Adventure,Sci-Fi', ..., 'Comedy,Family,Fantasy,Mystery',
       'Family,Drama,Western', 'Comedy,Family,Adventure,Fantasy,Sci-Fi'],
      dtype=object)

grouped_genre=streaming_file_df.groupby(Genres)

In [15]:
#grouped_genre=streaming_file_df('Netflix').groupby['Netflix']
#grouped_genre()

In [81]:
cleaned_genre=cleaned_genre_df = streaming_file_df.set_index('Title').Genres.str.split(',', expand=True).stack()
cleaned_genre_df.count()

39098

In [79]:
cleaned_genre.unique()#27 terms, many permutationt

array(['Action', 'Adventure', 'Sci-Fi', 'Thriller', 'Comedy', 'Western',
       'Animation', 'Family', 'Biography', 'Drama', 'Music', 'War',
       'Crime', 'Fantasy', 'Romance', 'History', 'Mystery', 'Sport',
       'Documentary', 'Musical', 'News', 'Horror', 'Short', 'Film-Noir'],
      dtype=object)

In [78]:
cleaned_genre.nunique

<bound method IndexOpsMixin.nunique of Title
Inception         0       Action
                  1    Adventure
                  2       Sci-Fi
                  3     Thriller
The Matrix        0       Action
                         ...
Kazaam            1       Family
                  2      Fantasy
                  3      Musical
Meet the Deedles  0       Comedy
                  1       Family
Length: 9484, dtype: object>

In [91]:
genregrp_df = streaming_file_df.groupby('Genres')['Title'].nunique()
print(genregrp_df)

Genres
Action                                                  146
Action,Adventure                                         47
Action,Adventure,Biography                                3
Action,Adventure,Biography,Drama,History                  3
Action,Adventure,Biography,Drama,History,Romance,War      1
                                                       ...
Western                                                 116
Western,Comedy                                            2
Western,Horror                                            1
Western,Mystery                                           1
Western,War                                               1
Name: Title, Length: 1909, dtype: int64

In [92]:
genregrp_df = streaming_file_df.groupby(by='Genres', as_index=False).agg({'Title': pd.Series.nunique})
print(df)

NameError: name 'df' is not defined

In [90]:
column_values =streaming_file_df[["Genres"]].values.ravel()
unique_values =  pd.unique(column_values)
#unique_values.count()

In [62]:
Clean_Genre=cleaned_genre.unique()
Title=streaming_file_df['Title']
Age=streaming_file_df['Age']
Netflix=streaming_file_df['Netflix']
Hulu=streaming_file_df['Hulu']
Disney=streaming_file_df['Disney+']
IMDb=streaming_file_df['IMDb']
Rotten_tom=streaming_file_df['Rotten Tomatoes']
Prime=streaming_file_df['Prime Video']
Year=streaming_file_df['Year']
Directors=streaming_file_df['Directors']

#cleaned_genre_df=pd.DataFrame({"Title":'Title',"Age":'Age',##"Netflix":[Netflix],"Hulu":[Hulu],
                               #"Disney":[Disney],"IMDb":[IMDb],"Rotten_tom":[Rotten_tom],"Prime":[Prime],
                               #"Year":[Year],"Directors":[Directors]
                              
                              })

#cleaned_genre_df.head()

ValueError: If using all scalar values, you must pass an index

In [10]:
streaming_file_df[["IMDb","Rotten Tomatoes","Genres"]]

TypeError: 'method' object is not subscriptable