In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  scipy.stats as st

In [4]:
movie_data = "MoviesOnStreamingPlatforms_updated.csv"
movie_df = pd.read_csv(movie_data)
movie_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [22]:
clean_df = df.dropna(subset=['Year'], how="any")
clean_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Streaming Platform,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,NaN,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski",NaN,"Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo",NaN,"Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,NaN,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,NaN,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,NaN,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,NaN,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,NaN,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,NaN,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,NaN,"Documentary,Short,Family",United States,English,32.0

In [27]:
year_df = clean_df.drop(df.columns[[-1,-2,-3,-4]], axis=1)
year_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Streaming Platform
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,NaN
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski",NaN
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo",NaN
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,NaN
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,NaN

In [37]:
#year_df['Streaming Platform'] = year_df.loc[(df['Netflix']== "1") | (df['Hulu']== "1") | (df['Prime Video']== "1") | (df['Disney+']== "1"), :]
#streaming_platform.head()
year_df.loc[df['Netflix']== 1, 'Streaming Platform'] = 'Netflix'
year_df.loc[df['Hulu']== 1, 'Streaming Platform'] = 'Hulu'
year_df.loc[df['Prime Video']== 1, 'Streaming Platform'] = 'Prime'
year_df.loc[df['Disney+']== 1, 'Streaming Platform'] = 'Disney+'
year_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Streaming Platform
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Netflix
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski",Netflix
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo",Netflix
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,Netflix
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Prime
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,Disney+
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,Disney+
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Disney+
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Disney+
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,Disney+

In [38]:
year_df['Year'].value_counts()

2017    1401
2018    1285
2016    1206
2015    1065
2014     986
        ...
1924       1
1912       1
1916       1
1917       1
1902       1
Name: Year, Length: 109, dtype: int64

In [41]:
bins = [1900, 1949, 1959, 1969, 1979, 1989, 1999, 2009, 2020]
group_names = ["Early 1900's", "1950's", "1960's", "1970's", "1980's", "1990's", "Early 2000's", "Current"]

year_df['Year Category']= pd.cut(df['Year'], bins, labels=group_names, include_lowest=True)
year_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Streaming Platform,Year Category
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,Netflix,Current
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski",Netflix,1990's
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo",Netflix,Current
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,Netflix,1980's
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Prime,1960's
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,Disney+,1980's
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,Disney+,Early 2000's
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Disney+,Current
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Disney+,Current
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,Disney+,1950's

In [46]:
year_counts = year_df['Year Category'].value_counts()
year_category_counts_df = pd.DataFrame(year_counts)
year_category_counts_df

              Year Category
Current                9764
Early 2000's           2940
1990's                 1002
Early 1900's            785
1970's                  769
1980's                  750
1960's                  375
1950's                  359

In [47]:
streaming_platform_counts = year_df['Streaming Platform'].value_counts()
platform_counts_df = pd.DataFrame(streaming_platform_counts)
platform_counts_df

         Streaming Platform
Prime                 12335
Netflix                3188
Hulu                    657
Disney+                 564

In [54]:
year_analysis_imdb_df = year_df.groupby(['Year Category', 'Streaming Platform'])[['IMDb']].mean()
year_analysis_imdb_df

                                      IMDb
Year Category Streaming Platform
Early 1900's  Disney+             7.093750
              Hulu                7.100000
              Netflix             7.100000
              Prime               5.969452
1950's        Disney+             7.182609
              Hulu                6.666667
              Netflix             6.000000
              Prime               5.943030
1960's        Disney+             6.926087
              Hulu                6.950000
              Netflix             6.900000
              Prime               5.659302
1970's        Disney+             6.338710
              Hulu                7.125000
              Netflix             6.572222
              Prime               5.876438
1980's        Disney+             6.814286
              Hulu                6.955556
              Netflix             6.908696
              Prime               5.919449
1990's        Disney+             6.158333
              Hulu                6.364706
              Netflix             6.636145
              Prime               5.894810
Early 2000's  Disney+             6.068478
              Hulu                6.587500
              Netflix             6.482712
              Prime               5.740759
Current       Disney+             6.704192
              Hulu                6.033992
              Netflix             6.214024
              Prime               5.706884

In [59]:
year_analysis_tomatoes_df = year_df.groupby(['Year Category', 'Streaming Platform'])[['Rotten Tomatoes']].mean()
year_analysis_tmatoes_df

ValueError: Unable to parse string "87%" at position 0