Runtime Analysis - cleanup

In [1]:
# dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  scipy.stats as st

In [3]:
#load the csv file
df = pd.read_csv('/Users/medinai/Desktop/Project-1/MoviesOnStreamingPlatforms_updated.csv')
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [4]:
#pick columns needed for Runtime Analysis
new_df = df[['ID', 'Title', 'Year', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu', 
             'Prime Video', 'Disney+', 'Runtime']]
new_df

,ID,Title,Year,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Runtime
0,1,Inception,2010,8.8,87%,1,0,0,0,148.0
1,2,The Matrix,1999,8.7,87%,1,0,0,0,136.0
2,3,Avengers: Infinity War,2018,8.5,84%,1,0,0,0,149.0
3,4,Back to the Future,1985,8.5,96%,1,0,0,0,116.0
4,5,"The Good, the Bad and the Ugly",1966,8.8,97%,1,0,1,0,161.0
...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,6.2,NaN,0,0,0,1,120.0
16740,16741,The Poof Point,2001,4.7,NaN,0,0,0,1,90.0
16741,16742,Sharks of Lost Island,2013,5.7,NaN,0,0,0,1,NaN
16742,16743,Man Among Cheetahs,2017,6.6,NaN,0,0,0,1,NaN
16743,16744,In Beaver Valley,1950,NaN,NaN,0,0,0,1,32.0

In [5]:
#Drop NaN values from Runtime, Rotten Tomatoes and IMDb columns
clean_df = new_df.dropna(subset=['Runtime', 'Rotten Tomatoes', 'IMDb'])
clean_df.count()
clean_df

,ID,Title,Year,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Runtime
0,1,Inception,2010,8.8,87%,1,0,0,0,148.0
1,2,The Matrix,1999,8.7,87%,1,0,0,0,136.0
2,3,Avengers: Infinity War,2018,8.5,84%,1,0,0,0,149.0
3,4,Back to the Future,1985,8.5,96%,1,0,0,0,116.0
4,5,"The Good, the Bad and the Ugly",1966,8.8,97%,1,0,1,0,161.0
...,...,...,...,...,...,...,...,...,...,...
16671,16672,George of the Jungle 2,2003,3.3,17%,0,0,0,1,87.0
16677,16678,That Darn Cat,1997,4.7,13%,0,0,0,1,116.0
16687,16688,Kazaam,1996,3.0,6%,0,0,0,1,93.0
16705,16706,Meet the Deedles,1998,4.1,7%,0,0,0,1,93.0
16719,16720,Pocahontas,1995,5.3,55%,0,0,0,1,81.0

In [6]:
# imdb = clean_df[['IMDb', 'Runtime']]
# # x_axis = cleandf[['Runtime']]
# # y_axis = clean_df['IMDb']
# imdb.plot.line()

In [8]:
clean_df.to_csv(r"/Users/medinai/Desktop/Project-1/Runtime Analysis/clean_df.csv", index=False)